.note {
  background-color: rgb(177, 201, 200);
  padding: 10px;

  border-radius: 5px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /*  line break solving */
  white-space: pre-wrap;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-left: 10px;
  min-height: 100vh;
}
.note.new {
  background-color: white;
}
textarea {
  background-color: white;
  border: none;
  resize: none;
}
.save {
  background-color: rgb(177, 201, 200);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  border: none;
  transition: .7s;
}
.save:hover {
  background-color: rgb(23, 92, 153);
  cursor: pointer;
}
.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background-color: rgb(207, 204, 204);
  border-radius: 10px;
  padding: 5px;
  height: 30px;
}
.search-input {
  background-color: rgb(207, 204, 204);
  border: none;
}
.search-input:focus {
  outline: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}

.dark-mode {
  background-color: black;
}
.dark-mode h1 {
  color: white;
}
body {
  margin: 0;
}
