.note {
  background-color: bisque;
  padding: 10px;

  border-radius: 5px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
